<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Fast Food</title>
	
	<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
	</head>
	<body>
		<div class="container" >
			<div class="jumbotron" align="center" style="margin-top: 50px;">
				<h1>Fast Food</h1>
				<div align="center">
					<a href="fast-food/pedidos" class="btn btn-lg btn-primary">Clique e faça seu pedido</a>
				</div>
			</div>
		</div>
	    
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <script type="text/javascript"
		src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	</body>
</html>